/*MEYERS reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    max-width:100%;
    border:1px solid grey;
}
/*General Styles*/

html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    color:#4f4f4f;
    line-height:1.5;
    font-family: 'PT Sans', sans-serif;
    background-color:#FFFAFA;
}
h1, h2{
    text-align:center;
}

a{
    text-decoration:none;
    color:#4f4f4f;
}
hover:a{
    color: red;
}

/*General Styles*/

.Top{
    display:flex;
    justify-content:center;
    align-items: center;
}

.buttons{
    display:flex;
    justify-content:space-evenly;
    align-items:stretch;
    align-content:space-between;
    height: 20%;
    background-color: lightslategray;
}

.UpperMiddle{
    height: 40vh;
    background-image: url('https://images.unsplash.com/photo-1610296669228-602fa827fc1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.LowerMiddle{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

img{
    float:left;
    width: 25%;
    height: auto;
    object-fit: cover;
}

a{
    padding: 5px;
    border: 2px black;
}

footer{
    display:flex;
    justify-content:center;
}




/*PROJECTS PAGE*/

#Projects{
    background-image: url('https://images.unsplash.com/photo-1610296669228-602fa827fc1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80');
}